// main.styl
// This file is used to override vuetify default styles.
// More information: https://stackoverflow.com/questions/53675683/unable-to-override-styles-in-vuetify

$body-font-family = 'Open Sans', sans-serif;
$heading-font-family = $body-font-family;
$spacer := 20px;
$headings := {
  h1: { size: 112px, weight: 300, line-height: 1, letter-spacing: -.04em, font-family: $heading-font-family },
  h2: { size: 44px, weight: 400, line-height: 1.35, letter-spacing: -.02em, font-family: $heading-font-family },
  h3: { size: 40px, weight: 400, line-height: 48px, letter-spacing: normal, font-family: $heading-font-family },
  h4: { size: 34px, weight: 400, line-height: 40px, letter-spacing: normal, font-family: $heading-font-family },
  h5: { size: 24px, weight: 400, line-height: 32px, letter-spacing: normal, font-family: $heading-font-family },
  h6: { size: 20px, weight: 500, line-height: 1, letter-spacing: .02em, font-family: $heading-font-family },
  subheading: { size: 16px, weight: 400 },
  body-2: { size: 14px, weight: 500 },
  body-1: { size: 14px, weight: 400 },
  caption: { size: 12px, weight: 400 },
  button: { size: 14px, weight: 500 }
};

@import '~vuetify/src/stylus/main' // Ensure you are using stylus-loader

.login-field
  & > .v-input__control > .v-input__slot > .v-text-field__slot
    input
      min-height: 44px !important
    .v-label
      font-size: 16px !important

.v-label
  font-size: 14px !important

.v-input
  font-size: 14px !important

.v-textarea
  & > .v-input__control > .v-input__slot > .v-text-field__slot
    textarea
      line-height: 28px
      margin-top: 4px
      font-size: 14px

.v-text-field
  &--outline
    & > .v-input__control > .v-input__slot
      min-height: 36px !important

.v-text-field
  &--outline
    & > .v-input__control > .v-input__slot
      input
        font-size: 14px !important
        margin-top: 0px !important

.v-text-field
  &--outline
    & .v-input__control > .v-input__slot > .v-input__prepend-inner > .v-input__icon v-input__icon--prepend-inner
    & .v-icon
      font-size: 18px

