<template>
  <v-layout align-center background-grey py-5 pb-3>
    <v-spacer></v-spacer>
    <v-flex xs12 md4>
      <v-layout row wrap>
        <v-spacer></v-spacer>
        <v-flex xs12>
          <v-sheet color="white" elevation="0" :class="$vuetify.breakpoint.smAndDown ? 'mx-2 pa-3' : 'mx-4 pa-5'">
            <v-layout column child-flex text-xs-center>
              <v-flex>
                <div v-if="$route.params.token && tokenValid" class="pb-5 title grey--text text--darken-5" style="line-height: 24px !important">
                  Log into your account and get accepted into {{ tokenData.name || 'an organisation' }}
                </div>
                <div v-if="$route.params.token && !tokenValid" class="pb-5 subheading grey--text text--darken-5">
                  You were invited to be a part of one of our publishers but your token is no longer valid, you may login normally or contact the publisher and have them invite you again.
                </div>
                <div v-if="!$route.params.token" class="pb-5 headline grey--text text--darken-5">
                  Log into your account
                </div>
              </v-flex>
              <v-flex>
                <v-form ref="formLogin" v-model="valid">
                  <v-text-field
                    ref="email"
                    v-model="user.email"
                    :class="validation.email ? 'grey--text text--lighten-1 blue-icon my-2 login-field' : 'grey--text text--lighten-1 blue-icon mt-2 login-field'"
                    :rules="emailRules"
                    label="E-mail"
                    prepend-inner-icon="ti-email"
                    color="primary"
                    solo
                    flat
                    @blur="blurValidate('email')"
                    :hide-details="validation.email"
                    :disabled="getStatus.loading"
                    @keyup.enter.prevent="login"
                    required
                  ></v-text-field>
                  <v-divider></v-divider>
                  <v-text-field
                    ref="password"
                    v-model="user.password"
                    :class="validation.password ? 'grey--text text--lighten-1 blue-icon my-2 login-field' : 'grey--text text--lighten-1 blue-icon mt-2 login-field'"
                    :rules="passwordRules"
                    label="Password"
                    prepend-inner-icon="ti-unlock"
                    solo
                    flat
                    :append-icon="hidePassword ? 'visibility' : 'visibility_off'"
                    @click:append="() => (hidePassword = !hidePassword)"
                    :type="hidePassword ? 'password' : 'text'"
                    @blur="blurValidate('password')"
                    :hide-details="validation.password"
                    :disabled="getStatus.loading"
                    @keyup.enter.prevent="login"
                    required
                  ></v-text-field>
                </v-form>
              </v-flex>
              <v-flex mb-1>
                <v-alert
                  :value="getStatus.error && !getStatus.loading"
                  :color="getStatus.error === true ? 'error' : 'success'"
                  :icon="getStatus.error === true ? 'warning' : 'check_circle'"
                  outline
                >
                  {{getStatus.message}}
                </v-alert>
              </v-flex>
              <v-flex mb-1>
                <v-alert
                  :value="alert.show"
                  color="success"
                  icon="check_circle"
                  outline
                >
                  {{alert.message}}
                </v-alert>
              </v-flex>
              <v-flex mt-2>
                <v-btn
                  large
                  block
                  depressed
                  class="white--text ma-0 font-weight-bold caption"
                  color="primary"
                  @click.native="login"
                  @keyup.enter.native.prevent="login"
                  :disabled="getStatus.loading"
                  :loading="getStatus.loading"
                >
                  Login
                </v-btn>
              </v-flex>
            </v-layout>
          </v-sheet>
          <v-layout child-flex mx-4 pt-3>
            <v-flex><router-link to="/forgot-password" class="grey--text text--darken-5" style="text-decoration: none" :disabled="getStatus.loading">Forgot password?</router-link></v-flex>
            <v-spacer></v-spacer>
            <v-flex text-xs-right>
              <router-link v-if="!$route.params.token" to="/register" class="grey--text text--darken-5" style="text-decoration: none" :disabled="getStatus.loading">Register an account</router-link>
              <router-link v-if="$route.params.token" :to="`/register/${ $route.params.token }`" class="grey--text text--darken-5" style="text-decoration: none" :disabled="getStatus.loading">Register and get accepted</router-link>
            </v-flex>
          </v-layout>
        </v-flex>
        <v-spacer></v-spacer>
      </v-layout>
    </v-flex>
    <v-spacer></v-spacer>
  </v-layout>
</template>

<script>
import { mapGetters } from 'vuex'
import variables from '@/custom/variables'
import axios from 'axios'

export default {
  data () {
    return {
      valid: false,
      user: {
        email: '',
        password: ''
      },
      hidePassword: true,
      // validation rules
      emailRules: [
        (v) => !!v || 'E-mail is required',
        (v) => new RegExp(variables.regex.email).test(v) || 'Email must be valid'
      ],
      passwordRules: [
        (v) => !!v || 'Password is required'
      ],
      alert: {
        show: false,
        error: false,
        message: ''
      },
      validation: {
        email: true,
        password: true
      }
    }
  },
  computed: {
    ...mapGetters('auth', ['getStatus', 'setStatus', 'isLoggedIn', 'currentUser'])
  },
  methods: {
    blurValidate (ref) {
      this.validation[ref] = this.$refs[ref].validate()
    },
    // Login function
    async login () {
      if (this.$refs.formLogin.validate()) {
        try {
          let response = await this.$store.dispatch('auth/login', this.user)
          if (response.success === true) {
            this.$router.push('/user/profile')
          }
        } catch (error) {
          let message = ''
          if (error.response) {
            message = error.response.data.message
          } else if (error.request) {
            message = 'No response received from the server. If the problem persists contact the site administrator (' + error.message + ')'
          } else {
            message = error.message
          }
          await this.$store.dispatch('auth/setStatus', { loading: false, error: true, message: message })
        }
      } else {
        await this.$store.dispatch('auth/setStatus', { loading: false, error: true, message: 'Please make sure to fill all the necessary information.' })
      }
    },
  },
  created: function () {
    // Example code for a redirection from a register view.
    if (this.$route.query.registered) {
      this.alert.message = 'You have successfully registered your account. Please check your email so you can verify it and proceed to log in. '
      this.alert.error = false
      this.alert.show = true
    }
    if (this.$route.query.verified) {
      this.alert.message = 'Thank you for verifying your email. You may now log in.'
      this.alert.error = false
      this.alert.show = true
    }
  }
}
</script>

<style>
.blue-icon .v-icon {
  color: #29aafe;
}
</style>
